---
pageable: true
per_page: 10
---
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <article>
    <%= partial(:article_header, :locals => { :article => article }) %>
    <div class="post-body">
      <h2 class="title"><%= link_to article.title, article %></h2>

      <div class="date">
        <%= article.date.strftime "%B %e, %Y" %>
      </div>

      <%= article.summary %>
      <%= link_to 'Continue Reading', article %>
    </div>
  </article>

  <hr />
<% end %>


<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
